body,html
    height 100% !important
    width 100% !important

input:-webkit-autofill
    -webkit-box-shadow 0 0 0px 1000px #fff inset



i 
    padding 0 5px !important

.yl-form p
    display none !important

.yl-form .cube-form-item_required .cube-form-label::before
    content '' !important