// color vars
//// basic
$color-orange = #4e8cee
$color-regular-blue = #2b5e93
$color-background = #e1e5ea
$color-white = #fff

//// gray
$color-dark-grey = #454545
$color-grey = #666666
$color-light-grey = #92a4b6
$color-light-grey-s = #90979e
$color-light-grey-ss = #bfbfbf
$color-light-grey-sss = #e1e5ea
$color-active-grey = #ccd8e3

$color-dark-grey-opacity = rgba(43, 94, 147, 0.8)
$color-grey-opacity = rgba(0, 0, 0, .08)
$color-light-grey-opacity = rgba(0, 0, 0, .04)

//// orange 
$color-dark-orange = #2973a2
$color-light-orange = #7bafd1
$color-orange-opacity = rgba(78, 140, 238, .08)
$color-light-orange-opacity = rgba(78, 140, 238, .04)

//// blue
$color-blue = #265483

//// red  warning
$color-red = #ff7878

//// green pass
$color-green = #a0b751

//// yellow remind
$color-yellow = #ffba42

//// row line
$color-row-line = #bfbfbf
//// column line
$color-col-line = #e1e5ea

/// mask
$color-mask-bg = rgba(31, 77, 126, .4)
